.experts-wrapper{
    margin: 25px 0px;
    .experts-container{
        .expert-card-wrapper{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        }
        .page-link{
            font-family: 'Courier New', Courier, monospace;
        }
        .page-link:hover{
            transform: scale(1.2);
        }
        @media screen and(min-width:900px) {
            .expert-card{
                width: 100%;
                margin-top: 20px;
                padding: 10px 30px;
                display: flex;
                max-height: auto;
                background: rgba(255,255,255,0.8);
                box-shadow: 1px 10px 20px #d4d4d4;
                .image-wrapper{
                    width: 20%;
                    img{
                        padding: 10px 10px;
                        border-radius: 100%;
                        height: 200px;
                        width: 210px;
                        border: 0px;
                        box-shadow: 1px 10px 20px #d4d4d4;
                    }
                }
                .details-body{
                    width: 80%;
                    padding: 10px 10px;
                    .expert-header{
                        padding: 5px 10px;
                        margin: 10px 0px;
                        color: white;
                        background: rgba(75, 126, 99, 0.609);
                        display: flex;
                        width: 100%;
                        border-radius: 25px;
                        i{
                            padding: 0px 5px;
                        }
                        .expert-name{
                            width: 50%;
                        }
                        .expert-practice{
                            width: 50%;
                            text-align: center;
                        }
                    }
                    .expert-summary{
                        padding: 5px 10px;
                    }
                    .expert-footer{
                        display: flex;
                        .exp{
                            width: 30%;
                            font-size: 15px;
                            b{
                                opacity: .7;
                            }
                        }
                        .small{
                            width: 70%;
                            section{
                                float: right;
                                button{
                                    border:0px;
                                    width: 100px;
                                    margin: 0px 10px;
                                    background: white;
                                    box-shadow: 2px 2px 5px #d4d4d4;
                                }
                                a{
                                    border: none;
                                    color: #282828;
                                    transition: all 0.5s;
                                    cursor: pointer;
                                }
                                  
                                a span{
                                    cursor: pointer;
                                    display: inline-block;
                                    position: relative;
                                    transition: 0.5s;
                                }
                                  
                                a span:after{
                                    content: '\00bb';
                                    position: absolute;
                                    opacity: 0;
                                    top: 0;
                                    right: -10px;
                                    transition: 0.5s;
                                }
                                  
                                a:hover span{
                                    padding-right: 15px;
                                }
                                  
                                a:hover span:after{
                                    opacity: 1;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }

        }
        @media screen and(max-width:900px) {
            .expert-card{
                box-shadow: 0px 7px 10px #d4d4d4;
                margin-top: 20px;
                padding: 10px 15px;
                width: 33%;
                .image-wrapper{
                    width: 100%;
                    text-align: center;
                    img{
                        padding: 10px 10px;
                        border-radius: 100%;
                        height: 200px;
                        width: 210px;
                        border: 0px;
                        box-shadow: 1px 10px 20px #d4d4d4;
                    }
                }
                .expert-header{
                    padding: 5px 10px;
                    margin: 10px 0px;
                    color: white;
                    background: rgba(75, 126, 99, 0.609);
                    width: 100%;
                    i{
                        padding: 0px 5px;
                    }
                    .expert-name{
                        font-size: 15px;
                    }
                    .expert-practice{
                        font-size: 15px;
                    }
                }
                .expert-footer{
                    .exp{
                        width: 100% !important;
                        font-size: 13px;
                        opacity: .7;
                    }
                    .small{
                        width: 100% !important;
                        button{
                            border: 0px;
                            width: 150px;
                        }
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }
        @media screen and(max-width:800px) {
            .expert-card{
                box-shadow: 0px 7px 10px #d4d4d4;
                margin-top: 20px;
                padding: 10px 15px;
                width: 50%;
                .image-wrapper{
                    width: 100%;
                    text-align: center;
                    img{
                        padding: 10px 10px;
                        border-radius: 100%;
                        height: 200px;
                        width: 210px;
                        border: 0px;
                        box-shadow: 1px 10px 20px #d4d4d4;
                    }
                }
                .expert-header{
                    padding: 5px 10px;
                    margin: 10px 0px;
                    color: white;
                    background: rgba(75, 126, 99, 0.609);
                    width: 100%;
                    i{
                        padding: 0px 5px;
                    }
                    .expert-name{
                        font-size: 15px;
                    }
                    .expert-practice{
                        font-size: 15px;
                    }
                }
                .expert-footer{
                    .exp{
                        width: 100% !important;
                        font-size: 13px;
                        opacity: .7;
                    }
                    .small{
                        width: 100% !important;
                        button{
                            border: 0px;
                            width: 150px;
                        }
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }
        @media screen and(max-width:600px) {
            .expert-card{
                box-shadow: 0px 7px 10px #d4d4d4;
                margin-top: 20px;
                padding: 10px 15px;
                width: 100%;
                .image-wrapper{
                    width: 100%;
                    text-align: center;
                    img{
                        padding: 10px 10px;
                        border-radius: 100%;
                        height: 200px;
                        width: 210px;
                        border: 0px;
                        box-shadow: 1px 10px 20px #d4d4d4;
                    }
                }
                .expert-header{
                    padding: 5px 10px;
                    margin: 10px 0px;
                    color: white;
                    background: rgba(75, 126, 99, 0.609);
                    width: 100%;
                    i{
                        padding: 0px 5px;
                    }
                    .expert-name{
                        font-size: 15px;
                    }
                    .expert-practice{
                        font-size: 15px;
                    }
                }
                .expert-footer{
                    .exp{
                        width: 100% !important;
                        font-size: 13px;
                        opacity: .7;
                    }
                    .small{
                        width: 100% !important;
                        button{
                            border: 0px;
                            width: 150px;
                        }
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }
        @media screen and(max-width:1250px) {
            width: 100%;
            .expert-card{
                .expert-footer{
                    .exp{
                        width: 70% !important;
                    }
                    .small{
                        width: 30%;
                    }
                }
            }
        }
    }
}
.profile-wrapper{
    @media screen and(min-width:1040px){
        .profile-sub-wrapper{
            display: flex;
            .profile-sidebar{
                top:20px;
                width: 25%;
                background: #fff;
                height: 100vh;
                box-shadow: 2px 2px 15px #d4d4d4;
                .edit-btn-wrapper{
                    text-align: right;
                    padding: 0px 20px;
                }
                .profile-sidebar-header{
                    text-align: center;
                    img{
                        padding: 10px 10px;
                        height: 210px;
                        width: 210px;
                        border-radius: 100%;    
                    }
                }
                .profile-sidebar-social{
                    display: flex;
                    padding: 10px 10px;
                    background-image: linear-gradient(150deg, #4B7E63, #A2DABC);
                    color: white;
                    font-weight: 800;
                    border: 0px;
                    font-size: 15px;
                    .followers{
                        width: 50%;
                        text-align: center;
                        p{
                            margin: 0px;
                        }
                    }
                    .post{
                        width: 50%;
                        text-align: center;
                        a{
                            margin: 0px;
                        }
                    }
                }
                .btn{
                    width:100%;
                    box-shadow: 1px 10px 10px #d4d4d4;
                    background: #4B7E63;
                    color: #fff;
                    i{
                        color: #fff;
                        padding: 0px 5px;
                    }
                }
                .profile-sidebar-body{
                    padding:20px 0px; 
                    ul{
                        list-style: none;
                        li{
                            padding: 5px 15px;
                            b{
                                opacity: 0.7;
                            }
                        }
                    }
                }   
            }
            .profile-main{
                width: 75%;
                height: 100vh;
                overflow-y: scroll;
                .questions{
                    padding: 20px;
                    .table-row{
                        .table-responsive{
                            h3{
                                font-size:25px;
                                font-weight: 50;
                                padding: 20px 10px 2px;
                            }
                            tr{
                                font-size:13px;
                            }
                            th{
                                opacity: 0.7;
                                border-top: 0px; 
                            }
                        }
                        .table-borderless{
                            td{
                                border: 0px;
                            }
                            th{
                                border: 0px;
                            }
                        }
                    }
                }
                .summary{
                    padding: 20px 30px;
                    display: flex;
                    width: 100%;
                    .posts{
                        width: 50%;
                        background: #fff;
                        padding: 10px 10px;
                        background: linear-gradient(140deg,#35aca2,#119abd);
                        color: #F5F5F5;
                        text-align: center;
                    }
                    .question{
                        width: 50%;
                        background: #fff;
                        padding: 10px 10px;
                        background: linear-gradient(140deg,#161f99,#166cf5);
                        color: #F5F5F5;
                        text-align: center;
                        float:right;
                    }
                }
                .page-posts{
                    padding: 0px !important;
                    .post__head{
                        padding: 20px;
                    }
                }
            }
            .profile-main::-webkit-scrollbar {
                width: 12px;
                background-color: rgb(212, 181, 181);
            }
            .profile-main::-webkit-scrollbar-thumb  {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px #4B7E63;
                background-color: #4B7E63;
            }
            .profile-main::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 20px;
                background-color: #F5F5F5;
            }
        }
    }
    @media screen and(max-width:1040px){
        .questions{
            padding: 20px;
            .table-row{
                .table-responsive{
                    h3{
                        font-size:25px;
                        font-weight: 50;
                        padding: 20px 10px 2px;
                    }
                    tr{
                        font-size:13px;
                    }
                    th{
                        opacity: 0.7;
                        border-top: 0px; 
                    }
                }
                .table-borderless{
                    td{
                        border: 0px;
                    }
                    th{
                        border: 0px;
                    }
                }
            }
        }
        .summary{
            padding: 20px 30px;
            display: flex;
            width: 100%;
            .posts{
                width: 50%;
                background: #fff;
                padding: 10px 10px;
                background: linear-gradient(140deg,#35aca2,#119abd);
                color: #F5F5F5;
                text-align: center;
            }
            .question{
                width: 50%;
                background: #fff;
                padding: 10px 10px;
                background: linear-gradient(140deg,#161f99,#166cf5);
                color: #F5F5F5;
                text-align: center;
                float:right;
            }
        }
        .profile-sub-wrapper{
            width: 100%;
            .profile-sidebar{
                .profile-sidebar-header{
                    text-align: center;
                    img{
                        padding: 10px 10px;
                        height: 210px;
                        width: 210px;
                        border-radius: 100%;    
                    }
                }
                .profile-sidebar-social{
                    display: flex;
                    padding: 10px 10px;
                    background-image: linear-gradient(150deg, #4B7E63, #A2DABC);
                    color: white;
                    font-weight: 800;
                    border: 0px;
                    font-size: 15px;
                    .followers{
                        width: 50%;
                        text-align: center;
                        p{
                            margin: 0px;
                        }
                    }
                    .post{
                        width: 50%;
                        text-align: center;
                        a{
                            margin: 0px;
                        }
                    }
                }
                
                .btn{
                    width:100%;
                    box-shadow: 1px 10px 10px #d4d4d4;
                    background: #4B7E63;
                    color: #fff;
                    i{
                        color: #fff;
                        padding: 0px 5px;
                    }
                }
                .profile-sidebar-body{
                    padding:20px 0px; 
                    ul{
                        list-style: none;
                        li{
                            padding: 5px 15px;
                            display: block;
                            float: left;
                            b{
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            .post-container{
                width: 100%;
                .h2{
                    margin-top:100px; 
                }
            }
        }
    }
}