<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin | Bluumhealth</title>
    <meta name="description" content="Home Page Description" />
    <meta name="author" content="Farawe iLyas" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i" />
    <!-- ICON -->
    <link rel="stylesheet" href="../assets/fonts/mainfont/style.css" />
    <link rel="stylesheet" href="../assets/fonts/font-awesome/font-awesome.min.css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../assets/css/bootstrap4.min.css" />
    <link rel="stylesheet" href="../assets/css/admin.css" />
    <link rel="stylesheet" href="../assets/css/hover.css" />
    <link rel="stylesheet" href="../assets/css/animate.css" />
    <link rel="stylesheet" href="../assets/css/morris.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4><img src="../assets/images/bloom.png" height="50" width="50" alt=""><span class="px-2">Bluumhealth</span></h4>
            </div>

            <ul class="list-unstyled contents">
                <li class="active">
                    <a href="home.blade.php">Dashboard <i class="fa fa-dashboard float-right"></i></a>
                </li>
                <li class="">
                    <a href="#expertsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Experts</a>
                    <ul class="collapse list-unstyled" id="expertsSubmenu">
                        <li>
                            <a href="add-expert.blade.php">Add Expert <i class="fa fa-user-plus float-right"></i></a>
                        </li>
                        <li>
                            <a href="view-experts.blade.php">View Experts <i class="fa fa-eye float-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Users <i class="fa fa-users float-right"></i></a>
                </li>
                <li>
                    <a href="question.blade.php">Questions <i class="fa fa-question-circle float-right"></i></a>
                </li>
                <li>
                    <a href="add-post.html">Add post <i class="fa fa-pencil float-right"></i></a>
                </li>
                <li>
                    <a href="view-posts.html">View Posts <i class="fa fa-sticky-note-o float-right"></i></a>
                </li>
                <li>
                    <a href="add-category.html">Add Category <i class="fa fa-clipboard float-right"></i></a>
                </li>
                <li>
                    <a href="add-sub-category.html">Add Sub Category <i class="fa fa-paperclip float-right"></i></a>
                </li>
                <li>
                    <a href="view-categories.html">View Category <i class="fa fa-paperclip float-right"></i></a>
                </li>
                <li>
                    <a href="view-sub-categories.html">View sub Category <i class="fa fa-paperclip float-right"></i></a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="" style="">
                        <i class="fa fa-bars"></i>
                        <span>Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown " style="width:180px;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="../assets/images/fyuma.jpg" class="mx-2" height="30" width="30" alt="" style="border-radius:100%;"> Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Change Password</a>
                                    <a class="dropdown-item" href="#">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content-wrapper px-4">
                <div class="add-post-wrapper">
                    <h4><img src="../assets/fonts/icons/main/New_Topic.svg" height="" width="28px" alt=""> Create New Post</h4><hr>
                    <form action="">
                        <div class="form-group">
                            <label for="">Post Tile</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="">Select Category</label>
                                <select id="inputState" class="">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Select Sub Category</label>
                                <select id="inputState" class="">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Post</label>
                            <textarea name="" class="form-control" id="" rows="10"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Add Tags</label>
                                <input type="text" class="form-control" name="" id="" placeholder="Tags">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Add Image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input p-3" id="validatedCustomFile" required>
                                    <label class="custom-file-label" for="validatedCustomFile"><i class="fa fa-image"></i> Choose Image...</label>
                                </div>
                            </div>
                            <div class="w-100">
                                <input type="submit" class="post-btn btn" name="" id="" value="Post">
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
            
    <script src="../assets/javascript/jquery.min.js"></script>
    <script src="../assets/js/bootstrap4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/morris.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>